.table {
    width: 700px;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.tableHead {
    text-transform: uppercase;

    color: white;
    background-color: rgb(64, 202, 202);
}

.tableCell {
    padding-top: 10px;
    padding-bottom: 10px;
}